@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
}

input {
  width: 80%;
  padding: 20px;
}

.expression-filters, .representation-types {
  display: flex;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.details-container {
  margin-top: 30px;
}

.options {
  display: flex;
}

.filter, .rep {
  margin-right: 10px;
}

.active {
  text-decoration: underline;
}

.controls {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0
}

.trees-container {
  padding-top: 430px;
}

.tree-container {
  border: 1px solid red;
  margin: 20px 0;
  font-size: 30px;
}

.tree {
  padding: 10px;
}

.nodes {
  display: flex;
}

.node-details {
  height: 200px;
}

.node-label {
  cursor: pointer;
  border-bottom: 1px solid #000;
}

