@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
}

.tree-container {
  border: 1px solid red;
  margin: 20px 0;
}

.tree {
  /* border: 1px solid green; */
  padding: 10px;
}

.nodes {
  display: flex;
}

.node-details {
  height: 200px;
}

.node-label {
  cursor: pointer;
  border-bottom: 1px solid #000;
}

